PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_kMbVOQ29NTJp@ep-cool-sunset-ana6gdik-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=tu_clave_secreta_super_segura
EMAIL_HOST=mail.privateemail.com
EMAIL_PORT=465
EMAIL_USER=admin@qlatte.com
EMAIL_PASS=Qlatteadmin00/